* {
    font-family: Arial, Helvetica, sans-serif;
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: 20px auto;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h3 {
    color: #545559;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #545559;
    border-bottom: 1px solid #545559;

}

.articles_container div {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 20%;
    padding: 2%;
}

img {
    width: 275px;
    height: 325px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

article a {
    text-decoration: none;
    line-height: 25px;
}

.product_title {
    color: #545559;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product_description {
    color: #545559;
    font-size: 12px;
}

/* ARTICLE SEPALO */

.sepalo {
    position: relative;
}

.sepalo img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.sepalo:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE BULKY SEPALO */

.bulky_sepalo {
    position: relative;
}

.bulky_sepalo img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.bulky_sepalo:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE JELLYFISH */

.jellyfish {
    position: relative;
}

.jellyfish img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.jellyfish:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE APODEMIA */

.apodemia {
    position: relative;
}

.apodemia img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.apodemia:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE ARO SEPALO */

.aro_sepalo {
    position: relative;
}

.aro_sepalo img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.aro_sepalo:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE NEFERTITI */

.nefertiti {
    position: relative;
}

.nefertiti img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.nefertiti:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE MARGARITA */

.margarita {
    position: relative;
}

.margarita img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.margarita:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE ARO SUCCULENTA */

.aro_succulenta {
    position: relative;
}

.aro_succulenta img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.aro_succulenta:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE APODEMIA KARNER */

.apodemia_karner {
    position: relative;
}

.apodemia_karner img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.apodemia_karner:hover img:nth-child(2) {
    opacity: 1;
}
/* ARTICLE LARGOS LOFOTEN ISLAND */

.largos_lofoten_island {
    position: relative;
}

.largos_lofoten_island img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.largos_lofoten_island:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE ROLL_VINE */

.roll_vine {
    position: relative;
}

.roll_vine img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.roll_vine:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE TRIPLE_SEPALO */

.triple_sepalo {
    position: relative;
}

.triple_sepalo img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.triple_sepalo:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE SAND DUST */

.sand_dust {
    position: relative;
}

.sand_dust img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.sand_dust:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE LINKED MARGARITA */

.linked_margarita {
    position: relative;
}

.linked_margarita img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.linked_margarita:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE ROSARIO MEDALLA MILAGROSA */

.rosario_medalla_milagrosa {
    position: relative;
}

.rosario_medalla_milagrosa img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.rosario_medalla_milagrosa:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE CADENA PLATA */

.cadena_plata {
    position: relative;
}

.cadena_plata img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.cadena_plata:hover img:nth-child(2) {
    opacity: 1;
}

/* ARTICLE LOFOTEN ISLAND */

.lofoten_island {
    position: relative;
}

.lofoten_island img:nth-child(2) {
    cursor: pointer;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity ease 0.4s;
}

.lofoten_island:hover img:nth-child(2) {
    opacity: 1;
}



